%h1 Второй круг Контакта

%p Это - маленькое такое приложение для сбора "второго круга" друзей Контакта.

%p Что такое второй круг? Это друзья твоих друзей. Разумеется, таких людей очень много, поэтому я их отсортирую по количеству общих с тобой друзей. Чем больше общих друзей, тем скорее вы знакомы.


%p Почему этого функционала нет в самом Контакте? Я не знаю.

%p 
  %a{:href => '/second_circle'} Я согласен с тем, что у меня сейчас спросят пароль от контакта. Поехали!

%p Следующая страница будет грузиться <strong>по одной секунде на каждого твоего друга</strong>, ибо именно с такой скоростью она опрашивает контакт.

%h2 Ограничение ответственности

%p Пароль нужен, потому что у Контакта нет адекватного API для авторизации. 

%p Чтоб он не попал ни в логи твоего прокси, ни в историю, ни куда-нибудь еще, я его спрошу с помощью обыкновенной HTTP-авторизации, которая шифрует пароль при передаче.

%p Я никуда ваши пароли не сохраняю и ничего под ними не делаю, кроме скачивания списка друзей. Впрочем, не нравится - не пользуйся, а заодно попроси у контакта адекватный API.

%p А вот что я сохраняю - это список твоих друзей и друзей твоих друзей, дабы уменьшить нагрузку на сервер. Только имена и связи. Да и их я не буду никому показывать, кроме как в виде второго круга.

%p Еще - список друзей скачивается не чаще раза в сутки. Нагрузка, понимаешь ли. 

%hr
%p
  А делал это приложение классный Rails-программист
  %a{:href=>'http://leonid.shevtsov.me'} Лёня Шевцов
  в 2010 году.
